<!-- Desayunos -->
<div class="outer-container">
    <div class="image-container">
      <div class="text-overlay">Desayunos</div>
    </div>
  </div>

<!--1 a 3 elementos de menu-->
<div class="container">
  <!--TOSTADAS DE AGUACATE-->
  <div class="card">
    <img src="../../assets/quienes-somos1.jpeg" alt="Tostadas de aguacate" class="card-img">
    <div class="card-body">
        <h3 class="card-title">Tostadas de aguacate</h3>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
        <p class="card-price">$200.00</p>
    </div>
</div>

<div class="card">
  <img src="../../assets/quienes-somos1.jpeg" alt="Tostadas de aguacate" class="card-img">
  <div class="card-body">
      <h3 class="card-title">Tostadas de aguacate</h3>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
      <p class="card-price">$200.00</p>
  </div>
</div>

<div class="card">
  <img src="../../assets/quienes-somos1.jpeg" alt="Tostadas de aguacate" class="card-img">
  <div class="card-body">
      <h3 class="card-title">Tostadas de aguacate</h3>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
      <p class="card-price">$200.00</p>
  </div>
</div>

</div>


