<div class="banner text-center" data-scroll-index='0'>
    <div class="banner-overlay">
      <div class="container">
        <h1 class="text-capitalize">¿Quienes somos?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec justo rhoncus, pharetra dui ut, cursus turpis. Aenean tincidunt vitae ligula eget congue.</p>
    </div>
  </div>


  <div class="about-us section-padding" data-scroll-index='1'>
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-title text-center">

        </div>
        <div class="col-md-6 mb-50">
          <div class="section-info">
            <div class="sub-title-paragraph">
              <b>
                <h2>Nuestra historia.</h2>
              </b>
              <p>Nam non erat feugiat, pellentesque mi ut, finibus tellus. Ut eget ex sodales, feugiat elit non, semper ex. Sed laoreet lectus nisl, sit amet porttitor lacus porta nec. Quisque sit amet metus sagittis, tincidunt tellus in, efficitur lorem. Sed scelerisque tellus nisl, eget tincidunt elit aliquet vitae. Integer id felis ut ipsum tristique iaculis. Mauris sed nibh enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc sagittis rhoncus sollicitudin. Maecenas eget dui a neque rutrum tincidunt sed non ipsum.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-50">
          <div class="section-img"> <img src="assets/quienes-somos1.jpeg" width="500" class="img-responsive"/> </div>
        </div>
      </div>
    </div>
  </div>


  <div class="about-us section-padding" data-scroll-index='1'>
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-title text-center">

        </div>
        <div class="col-md-6 mb-50">
          <div class="section-img"> <img src="assets/quienes-somos2.jpeg" width="500" class="img-responsive"/> </div>
        </div>
        <div class="col-md-6 mb-50">
          <div class="section-info">
            <div class="sub-title-paragraph">
              <b>
                <h2>Misión</h2>
              </b>
              <p>Nam non erat feugiat, pellentesque mi ut, finibus tellus. Ut eget ex sodales, feugiat elit non, semper ex. Sed laoreet lectus nisl, sit amet porttitor lacus porta nec. Quisque sit amet metus sagittis, tincidunt tellus in, efficitur lorem. Sed scelerisque tellus nisl, eget tincidunt elit aliquet vitae. Integer id felis ut ipsum tristique iaculis. Mauris sed nibh enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc sagittis rhoncus sollicitudin. Maecenas eget dui a neque rutrum tincidunt sed non ipsum.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-us section-padding" data-scroll-index='1'>
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-title text-center">

        </div>
        <div class="col-md-6 mb-50">
          <div class="section-info">
            <div class="sub-title-paragraph">
              <b>
                <h2>Visión</h2>
              </b>
              <p>Nam non erat feugiat, pellentesque mi ut, finibus tellus. Ut eget ex sodales, feugiat elit non, semper ex. Sed laoreet lectus nisl, sit amet porttitor lacus porta nec. Quisque sit amet metus sagittis, tincidunt tellus in, efficitur lorem. Sed scelerisque tellus nisl, eget tincidunt elit aliquet vitae. Integer id felis ut ipsum tristique iaculis. Mauris sed nibh enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc sagittis rhoncus sollicitudin. Maecenas eget dui a neque rutrum tincidunt sed non ipsum.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-50">
          <div class="section-img"> <img src="assets/quienes-somos3.jpeg" width="500" class="img-responsive"/> </div>
        </div>
      </div>
    </div>
  </div>




  <!-- End Platillos-Mesas-Cocineros -->
<div class="services" data-scroll-index='2'>
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-title text-center">

      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-30">
        <div class="platillos-mesas-cocineros text-center">
          <img src="assets/charola-icono.png" alt="">
          <div class="icon-text">
            <h4 class="title-box">100</h4>
            <p>Platillos distintos</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-30">
        <div class="platillos-mesas-cocineros text-center">
          <img src="assets/mesa-icono.png" alt="">
          <div class="icon-text">
            <h4 class="title-box">30</h4>
            <p>Mesas disponibles</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-30">
        <div class="platillos-mesas-cocineros text-center">
          <img src="assets/chef-icono.png" alt="">
          <div class="icon-text">
            <h4 class="title-box">10</h4>
            <p>Cocineros calificados</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End Platillos-Mesas-Cocineros -->


<!-- Galery -->
<div class="services" data-scroll-index='2'>
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-title text-center">

      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-30">
        <div class="bg-white text-center">
          <div class="icon"> <img src="assets/quienes-somos4.jpeg" alt="">

          </div>
          <div class="icon-text">

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-30">
        <div class="bg-white text-center">
          <div class="icon">
            <img src="assets/quienes-somos5.jpeg" alt="">
          </div>
          <div class="icon-text">

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-30">
        <div class="bg-white text-center">
          <div class="icon"> <img src="assets/quienes-somos6.jpeg" alt="">

          </div>
          <div class="icon-text">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Galery -->



<!-- Terrazas -->
<div class="services" data-scroll-index='2'>
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-title text-center">
        <h3>Conoce el lugar</h3>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-30">
        <div class="terrazas text-center">
          <div class="icon">
            <img src="assets/quienes-somos7.jpeg" width="500" height="500">
          </div>
          <div class="icon-text">
            <h4 class="title-box">Terraza 1</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-30">
        <div class="terrazas text-center">
          <div class="icon">
          <img src="assets/quienes-somos8.jpeg" width="455">
          </div>
          <div class="icon-text">
            <h4 class="title-box">Terraza 2</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-30">
        <div class="terrazas text-center">
          <div class="icon">
            <img src="assets/quienes-somos9.jpeg" width="455">
          </div>
          <div class="icon-text">
            <h4 class="title-box">Terraza 3</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-30">
        <div class="terrazas text-center">
          <div class="icon">
            <img src="assets/quienes-somos10.jpeg" width="455">
          </div>
          <div class="icon-text">
            <h4 class="title-box">Terraza 4</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End Terrazas -->

