<div class="banner text-center" data-scroll-index='0'>
    <div class="banner-overlay">
        <h1 class="text_title">Bienvenido</h1>
    </div>
  </div>

  <div class="content_white">

  </div>
  <div class="content_purple">

  </div>
  <div class="content_white">
    
  </div>
  <div class="image-container">
    <img src="../../assets/quienes-somos1.jpeg" alt="Imagen" class="responsive-image">
    <div class="text-overlay">La Casa de la Tía</div>
  </div>
  <div class="content_footer">

  </div>
